*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(4, 4, 27);
    color: white;
   
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(Images/background.webp);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav img{
    padding-top: 20px;
    width: 310px;
    height: 90px;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: .6s;
}

nav ul li a:hover::after
{
  width: 100%;  
}

.header-text{
    margin-top: 20%;
    font-size: 40px;
}

.header-text h1{
    margin-top: 20px;
    font-size: 70px;
}

.header-text h1 span{
   color: red;
}
/*---------------------------about------------------------------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col1{
    flex-basis: 35%;

}

.about-col1 img{
    width: 100%;
    border-radius: 20px;

}

.about-col2{
    flex-basis: 60%;

}

.title{
    font-size: 70px;
    font-weight: 700px;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.links{
    margin-right: 60px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.links::after{
    content: "";
    width: 0;
    height:3px ;
    background: red;
    position: absolute;
    left: 0;
    bottom: -9px;
    transition: .6s;
}

.links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
   color: rgb(160, 16, 16);
   font-size: 23px;
}

.tab-contents{
    display: none;
}


.tab-contents.active-tab{
    display: block;
}

#services{
    padding: 35px 0;
}
.sub-title{
    font-size: 50px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 45px;
    margin-top: 55px;
}

.services-list div{
    background-color: #282626;
    padding: 45px;
    font-size: 16px;
    font-weight: 350;
    border-radius: 13px;
    transition:  transform 0.5s;
}

.services-list div i{
    font-size: 56px;
    margin-bottom: 35px;
}

.services-list div h2{
    font-size:36px;
    font-weight: 550;
    margin-bottom: 20px;
}

.services-list div a{
   text-decoration: none;
   color: wheat;
   font-size: 15px;
   margin-top: 22px;
   display: inline-block;
}

.services-list div:hover{
    background: rgb(212, 22, 22);
    transform: translateY(-10px);
}

  /* -----------------My Portfolio ------------------------------- */

  #portfolio{
    padding: 50px 0;
  }

  .work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 45px;
    margin-top: 55px;
  }

  .work{
    border-radius: 13px;
    position: relative;
    overflow: hidden;
  }

  .work img{
   width: 100%;
   border-radius: 13px;
   display: block;
   transition: transform 0.5s;
  } 

  .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 45px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
  }

  .layer h3{
    font-weight: 600;
    margin-bottom: 23px;
  }

  .layer a{
    margin-top: 23px;
    color: #ff004f;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
  }

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 55px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 16px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;

}

/* -----------------------Contact------------------------------------------- */

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 35px;
}

.contact-left p i{
   color: #ff004f;
   margin-right: 17px;
   font-size: 30px;
}

.socialmedia-icons{
    margin-top: 32px;

}

.socialmedia-icons a{
    text-decoration: none;
    font-size: 35px;
    margin-right: 17px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}


.socialmedia-icons a:hover{
   color: #ff004f;
   transform: translateY(-5px);
    
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
}

.contact-right form{
    width: 100%;

}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 7px;
}

form .btn2{
    padding: 14px 16px;
    font-size: 20px;
    margin-top: 22px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 26px 0;
    background: #262626;
    font-weight: 400;
    margin-top: 22px;
}

.copyright i{
    color: #ff004f;
}

/* --------------------Css For Small Screens------------------------------------- */
nav .fa-solid{
    display: none;
}

@media only screen and (max-width:600px)
{
    #header{
        background-image: url(Images/phone-background.webp);
    }
    .header-text{
        margin-top: 100%;
        font-size: 11px;
    
    }
    .header-text h1{
        font-size: 22px;
       
    }

    nav img{
        height:70px ;
        width: 140px;
        margin-left: 28px;
    }

    
    nav .fa-solid{
        display: block;
        font-size: 24px;
        margin-right: 20px;
    }

    nav ul{
        background-color: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 60px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 24px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 32px;
        left: 25px;
        cursor: pointer;
        font-size: 26px;
       
    }
    .sub-title{
        font-size: 30px;
    }
    .about-col1,.about-col2{
        flex-basis: 100%;
    }

    .about-col1{
        margin-bottom: 33px;
    }
    .about-col2{
        font-size: 13px;
    }
    .title{
        font-size: 40px;
    }
    .links{
        font-size: 13px;
        margin-right: 20px;
    }

    .contact-left,.contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 13px;
    }
}

#msg{
    color: #187208;
    display: block;
    margin-top: -20px;
    
}
